name: Build and Push ARM/v7 Transmission Image

on:
  push:
    paths:
      - 'act.txt'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4



      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: umontano
          password: ${{ secrets.DOCK }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}
